{%extends 'base.html'%}
{% load static  %}
{% block content %}
    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">
         {%if cursos or eventos or primeiras or segundas or terceiras%}
          <div class="text-center">
            <h2>Alguns dos nossos momentos...</h2>
          </div>
          <br>
          
          <!-- Grid row -->
          <div class="row">

              <!-- Grid column -->
              <div class="col-md-12 d-flex justify-content-center flex-wrap mb-5"> <!-- CATEGORIAS -->
                <button type="button" class="btn btn-outline-black waves-effect filter" id="all">Tudo</button>
                  <button type="button" class="btn btn-outline-black waves-effect filter" id="1">Cursos</button>
                  <button type="button" class="btn btn-outline-black waves-effect filter" id="2">Eventos</button>
              
                  <button type="button" class="btn btn-outline-black waves-effect filter" id="3">I SEMANA DO MERCADO FINANCEIRO</button>
                  <button type="button" class="btn btn-outline-black waves-effect filter" id="4">II SEMANA DO MERCADO FINANCEIRO</button>
                  <button type="button" class="btn btn-outline-black waves-effect filter" id="5">III SEMANA DO MERCADO FINANCEIRO</button>


              </div>
              <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="gallery" id="gallery">
            <div class="row">
            {%for curso in cursos%}
              <!-- Grid column -->
              <div class="col-12 col-sm-6 pics animation all 1 mt-3 animate-bottom mb-3">
                <figure class="figure">
                  <a href="#" class="pop">
                    <img class="img-fluid z-depth-2 z-depth-2" src="{{curso.imagem.url}}" title="{{imagem.descricao}}">
                  </a>
                  <figcaption class="figure-caption text-center mt-4">{{curso.descricao}}</figcaption>
                </figure>
              </div>
              <!-- Grid column -->
            {%endfor %}
            {%for evento in eventos%}
              <!-- Grid column -->
              <div class="col-12 col-sm-6 pics animation all 2 mt-3 animate-bottom">
                <figure class="figure">
                <a href="#" class="pop">
                  <img class="img-fluid z-depth-2" src="{{evento.imagem.url}}" title="{{evento.descricao}}">
                </a>
                   <figcaption class="figure-caption text-center mt-4">{{evento.descricao}}</figcaption>
                </figure>
              </div>
              <!-- Grid column -->
            {%endfor%}
            {%for evento in primeiras%}
              <!-- Grid column -->
              <div class="col-12 col-sm-6 pics animation all 3 mt-3 animate-bottom">
                <figure class="figure">
                <a href="#" class="pop">
                  <img class="img-fluid z-depth-2" src="{{evento.imagem.url}}" title="{{evento.descricao}}">
                </a>
                   <figcaption class="figure-caption text-center mt-4">{{evento.descricao}}</figcaption>
                </figure>
              </div>
              <!-- Grid column -->
            {%endfor%}
            {%for evento in segundas%}
              <!-- Grid column -->
              <div class="col-12 col-sm-6 pics animation all 4 mt-3 animate-bottom">
                <figure class="figure">
                <a href="#" class="pop">
                  <img class="img-fluid z-depth-2" src="{{evento.imagem.url}}" title="{{evento.descricao}}">
                </a>
                   <figcaption class="figure-caption text-center mt-4">{{evento.descricao}}</figcaption>
                </figure>
              </div>
              <!-- Grid column -->
            {%endfor%}
            {%for evento in terceiras%}
              <!-- Grid column -->
              <div class="col-12 col-sm-6 pics animation all 5 mt-3 animate-bottom">
                <figure class="figure">
                <a href="#" class="pop">
                  <img class="img-fluid z-depth-2" src="{{evento.imagem.url}}" title="{{evento.descricao}}">
                </a>
                   <figcaption class="figure-caption text-center mt-4">{{evento.descricao}}</figcaption>
                </figure>
              </div>
              <!-- Grid column -->
            {%endfor%}
              
            </div>
          </div>
          <!-- Grid row -->


      {%else%}
      <div class="text-center">
        <h2>Ainda não há fotos cadastradas.</h2>
      </div>
      <br>
      {%endif%}
      </div>
    </main>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 80%;">
    <div class="modal-content">              
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>
    <!--Main layout-->
{%endblock%}