{%extends 'base.html'%}
{% load static  %}
{% block content %}
{%if primeiro_banner%}
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          {%for banner in banners %}
        <li data-target="#carousel-example-2" data-slide-to="0"></li>
        {%endfor%}
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        

        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="{{primeiro_banner.imagem.url}}" alt="First slide" >
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">{{primeiro_banner.titulo}}</h3>
                <p>{{primeiro_banner.descricao}}</p>
            </div>
        </div>

        {% for banner in banners %}
        <div class="carousel-item">
            <div class="view">
                <img class="d-block w-100" src="{{banner.imagem.url}}" alt="First slide" >
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">{{banner.titulo}}</h3>
                <p>{{banner.descricao}}</p>
            </div>
        </div>
        {%endfor %}

    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
{%endif%}
    <!--Main layout-->
    <main class="mt-2 pt-2">
              <div class="container">

            <!-- Magazine -->
            <div class="row mt-5">

                <!-- Main news -->
                <div class="col-xl-8 col-md-12">

                    <!--Section: Magazine posts-->
                    <section class="section extra-margins listing-section mt-2">
                        {% if artigos %}
                        <a href="/categoria_artigos" style="color:black !important;">
                            <h4 class="font-weight-bold">
                                <strong>ARTIGOS</strong></h4>
                            </a>
                        <hr class="red title-hr">

                        <!--Grid row-->
                        <div class="row mb-4">
                            {%for artigo in artigos %}
                            <!--Grid column-->
                            <div class="col-md-4 my-3">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="{{artigo.imagem.url}}" class="card-img-top" style="height:150px !important;" alt="{{artigo.titulo}}">
                                        <a href="/page/{{artigo.id}}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title"><strong>{{artigo.titulo}}</strong></h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text mb-3">
                                            {{artigo.descricao}}
                                        </p>
                                        <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="fa fa-clock-o"></i>{{artigo.data}}</p>
                                        <p class="font-small grey-text mb-0">Rodrigo</p>
                                        <p class="text-right mb-0 font-small font-weight-bold"><a href="/page/{{artigo.id}}">Leia mais<i class="fa fa-angle-right"></i></a></p>
                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->
                            {%endfor%}

      

                        </div>
                        <!--/Grid row-->
                        {%endif%}
                        {% if destaques %}

                        <a href="/categoria_destaques" style="color:black !important;">
                            <h4 class="font-weight-bold">
                                <strong>DESTAQUES DA SEMANA</strong></h4>
                            </a>
                        <hr class="red title-hr">
                        
                        <!--Grid row-->
                        <div class="row mb-4">
                            {%for destaque in destaques %}
                            <!--Grid column-->
                            <div class="col-md-6 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="{{destaque.imagem.url}}" class="card-img-top" style="height:200px !important;" alt="{{destaque.titulo}}">
                                        <a href="/page/{{destaque.id}}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title"><strong>{{destaque.titulo}}</strong></h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text mb-3">
                                            {{destaque.descricao}}
                                        </p>
                                        <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="fa fa-clock-o"></i> {{destaque.data}}</p>
                                        <p class="font-small grey-text mb-0">Rodrigo</p>
                                        <p class="text-right mb-0 font-small font-weight-bold"><a href="page/{{destaque.id}}">Leia mais <i class="fa fa-angle-right"></i></a></p>
                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->
                            {%endfor%}

                          
                        </div>
                        {%endif%}
                        <!--/Grid row-->
                        {% if editoriais %}
                        <a href="/categoria_editorial" style="color:black !important;">
                            <h4 class="font-weight-bold">
                                <strong>EDITORIAL</strong></h4>
                            </a>
                        <hr class="red title-hr">

                        <!--Grid row-->
                        <div class="row mb-4">
                            {% for editorial in editoriais %}
                            <!--Grid column-->
                            <div class="col-md-4 my-3">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="{{editorial.imagem.url}}" class="card-img-top" style="height:150px !important;" alt="{{editorial.titulo}}">
                                        <a href="/page/{{editorial.id}}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title h5"><strong>{{editorial.titulo}}</strong></h4>
                                        <hr>
                                        <!--Text-->
                                        
                                        <p class="card-text mb-3">
                                            {{editorial.descricao}}
                                        </p>
                                        <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="fa fa-clock-o"></i> {{editorial.data}}</p>
                                        <p class="font-small grey-text mb-0">Rodrigo</p>
                                        <p class="text-right mb-0 font-small font-weight-bold"><a href="page/{{editorial.id}}">Leia mais <i class="fa fa-angle-right"></i></a></p>
                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->
                            {%endfor%}

                        </div>
                        <!--/Grid row-->
                        {%endif%}
                        {% if cursos %}
                        <a href="/categoria_cursos" style="color:black !important;">
                            <h4 class="font-weight-bold">
                                <strong>CURSOS</strong></h4>
                            </a>
                        <hr class="red title-hr">

                        <!--Grid row-->
                        <div class="row single-post mb-4">
                            {%for curso in cursos%}
                            <!--Grid column-->
                            <div class="col-md-6 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="{{curso.imagem.url}}" class="card-img-top" style="height:150px !important;" alt="{{curso.titulo}}">
                                        <a href="/page/{{curso.id}}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title"><strong>{{curso.titulo}}</strong></h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text mb-3">
                                            {{curso.descricao}}
                                        </p>
                                        <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="fa fa-clock-o"></i> {{curso.data}}</p>
                                        <p class="font-small grey-text mb-0">Rodrigo</p>
                                        <p class="text-right mb-0 font-small font-weight-bold"><a href="page/{{curso.id}}">Leia mais <i class="fa fa-angle-right"></i></a></p>
                                    </div>
                                    <!--/.Card content-->
                                    
                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->
                            {%endfor%}


                        </div>
                        <!--/Grid row-->
                     {%endif%}
                    {% if eventos %}
                        <a href="/categoria_eventos" style="color:black !important;">
                            <h4 class="font-weight-bold">
                                <strong>EVENTOS</strong></h4>
                            </a>
                        <hr class="red title-hr">

                        <!--Grid row-->
                        <div class="row single-post mb-4">
                            {%for evento in eventos %}
                            <!--Grid column-->
                            <div class="col-md-6 text-left mt-3">

                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="{{evento.imagem.url}}" class="card-img-top" style="height:200px !important;" alt="{{evento.titulo}}">
                                        <a href="/page/{{evento.id}}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title"><strong>{{evento.titulo}}</strong></h4>
                                        <hr>
                                        <!--Text-->
                                        <p class="card-text mb-3">
                                            {{evento.descricao}}
                                        </p>
                                        <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="fa fa-clock-o"></i> {{evento.data}}</p>
                                        <p class="font-small grey-text mb-0">Rodrigo</p>
                                        <p class="text-right mb-0 font-small font-weight-bold"><a href="page/{{evento.id}}">Leia mais <i class="fa fa-angle-right"></i></a></p>
                                    </div>
                                    <!--/.Card content-->
                                    
                                </div>
                                <!--/.Card-->
                            </div>
                            <!--Grid column-->
                            {%endfor%}


                        </div>
                        <!--/Grid row-->
                     {%endif%}
                    </section>
                    <!--/Section: Magazine posts-->
                    
                    <!--Pagination
                    <nav>
                        <ul class="pagination pg-dark flex-center pt-4">
                           
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            
                            <li class="page-item active"><a class="page-link">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link">4</a></li>
                            <li class="page-item"><a class="page-link">5</a></li>

                            
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <-->

                </div>
                <!--/ Main news -->

                <!-- Sidebar -->
                <div class="col-xl-3 col-md-12 widget-column mt-0">

                    <!-- Section: Newsletter -->
                    <section class="section mb-5 mt-2">
                        <h4 class="font-weight-bold"><strong>NEWSLETTER</strong></h4>
                        <hr class="red title-hr mb-4">

                        <!-- Newsletter -->
                        <div class="card z-depth-1 widget-spacing mt-0">
                            <div class="card-body">

                                <!-- Header -->
                                <div class="text-center">
                                    <h4>Inscreva-se:</h4>
                                    <hr class="mt-2">
                                </div>

                                <!-- Body -->
                                <p class="font-small text-center">Fique por dentro de tudo que acontece na LMF Unesp.</p>

                                <!-- Body -->
                                <form method="POST" action="/newsletter">{% csrf_token %}
                                <div class="md-form">
                                    <i class="fa fa-user prefix grey-text"></i>
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="form3">Seu nome</label>
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-envelope prefix grey-text"></i>
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="form2">Seu e-mail</label>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-primary">Enviar</button>
                                </div>
                                </form>
                            </div>
                            
                        </div>

                    </section>
                    <!--/ Section: Newsletter -->
                    <!-- Section: Categories
                    <section class="section mb-5">

                        <h4 class="font-weight-bold mt-2"><strong>CATEGORIES</strong></h4>
                        <hr class="red title-hr">

                        <ul class="list-group z-depth-1 mt-4">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a>Business</a>
                                <span class="badge badge-danger badge-pill">4</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a>Entertainment</a>
                                <span class="badge badge-danger badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a>Health</a>
                                <span class="badge badge-danger badge-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a>Lifestyle</a>
                                <span class="badge badge-danger badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a>Photography</a>
                                <span class="badge badge-danger badge-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a>Technology</a>
                                <span class="badge badge-danger badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a>Sport</a>
                                <span class="badge badge-danger badge-pill">5</span>
                            </li>
                        </ul>
                    </section>
                    <!-- Section: Categories -->
                    
                    <!-- POST SLIDE
                    {%if post_popular%}
                    <h4 class="font-weight-bold"><strong>POSTAGENS POPULARES</strong></h4>
                    <hr class="red title-hr mb-4">

                    
                    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                        
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-2" data-slide-to="1"></li>
                            <li data-target="#carousel-example-2" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="view">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/images/7.jpg" alt="First slide">
                                    <div class="mask rgba-black-light"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive font-weight-bold">Isso é uma notícia</h3>
                                    <p>Texto</p>
                                </div>
                            </div>
                            <div class="carousel-item">

                                <div class="view">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/images/5.jpg" alt="Second slide">
                                    <div class="mask rgba-black-light"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive font-weight-bold">Isso é uma notícia</h3>
                                    <p>Texto</p>
                                </div>
                            </div>
                            <div class="carousel-item">

                                <div class="view">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/images/6.jpg" alt="Third slide">
                                    <div class="mask rgba-black-light"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive font-weight-bold">Isso é uma notícia</h3>
                                    <p>Texto</p>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                   
                    {%endif%}
                    Carousel Wrapper-->  


                    <!-- Section: Gallery -->
                    <section class="section sidebar-imgs mb-5 mt-5">

                        <h4 class="font-weight-bold"><strong>Galeria</strong></h4>
                        <hr class="red title-hr">

                        <!--Grid row-->

                        <div class="row">
                            <div class="col-md-12">

                                <div id="mdb-lightbox-ui"></div>

                                <div class="mdb-lightbox">

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(10).jpg" class="img-fluid" alt="sample image">
                                        </a>
                                    </figure>

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg" class="img-fluid" alt="sample image"/>
                                        </a>
                                    </figure>

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg" class="img-fluid" alt="sample image"/>
                                        </a>
                                    </figure>

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(4).jpg" class="img-fluid" alt="sample image"/>
                                        </a>
                                    </figure>

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(51).jpg" class="img-fluid" alt="sample image"/>
                                        </a>
                                    </figure>

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg" class="img-fluid" alt="sample image"/>
                                        </a>
                                    </figure>

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(49).jpg" class="img-fluid" alt="sample image" />
                                        </a>
                                    </figure>

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg" class="img-fluid" alt="sample image" />
                                        </a>
                                    </figure>

                                    <figure class="col-md-4 px-1 py-1">
                                        <a href="#" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(15).jpg" class="img-fluid" alt="sample image" />
                                        </a>
                                    </figure>

                                </div>

                            </div>

                        </div>
                        <!--Grid row-->

                    </section>
                    <!--/ Section: Gallery -->
                    {%if post_popular%}
                    <!-- Section: Featured posts -->
                    <section class="section widget-content">
                        <!-- Heading -->
                        <h4 class="font-weight-bold pt-2"><strong>POSTAGENS POPULARES</strong></h4>
                        <hr class="red title-hr mb-4">
                        
                        <!--/ Card -->
                        <div class="card card-body pb-0">
                            {%for post in post_popular%}
                            <div class="single-post">

                                <!-- Grid row -->
                                <div class="row">
                                    <div class="col-4">

                                        <!-- Image -->
                                        <div class="view overlay">
                                            <img src="{{post.imagem.url}}" class="img-fluid rounded-0" alt="{{post.titulo}}">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Excerpt -->
                                    <div class="col-8">
                                        <div class="post-data">
                                            <p class="font-small grey-text mb-0 data"><i class="fa fa-clock-o"></i> {{post.data|date}}</p>
                                        </div>
                                        <h6 class="mt-0 mb-3"><a href="/page/{{post.id}}"><strong>{{post.titulo}}</strong></a></h6>
                                    </div>
                                    <!--/ Excerpt -->
                                </div>
                                <!--/ Grid row -->
                            </div>

                            {%endfor %}
                        </div>
                    </section>
                    {%endif%}
                    <!--/ Section: Featured posts -->
                </div>
                <!--/ Sidebar -->
            </div>
            <!--/ Magazine -->
        </div>
    </main>
    <!--Main layout-->
{% endblock %}