{%extends 'base.html'%}
{% load static  %}
{% block content %}
<style type="text/css">
.img {
  overflow: hidden;
  max-height: 290px;
}

.object-fit_fill {
  object-fit: fill
}

.fit_contain {
  object-fit: fill;
  max-width: 100%;
}

.object-fit_cover {
  object-fit: cover
}

.object-fit_none {
  object-fit: none
}

.object-fit_scale-down {
  object-fit: scale-down
}
</style>
    <!--Main layout-->
    <main class="mt-5 pt-5">
      <div class="container">
        <div class="row">
          {%if membros%}
          {% for membro in membros %}
          <div class="col-12 col-sm-6 col-md-4 mt-3">
            <!-- Card Regular -->
            <div class="card">

              <!-- Card image -->
              <div class="img zoom">
                <img class="fit_contain" src="{{membro.imagem.url}}" title="{{membro.nome}}" >

                  <div class="mask rgba-white-slight"></div>

              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>{{membro.nome}}</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">{{membro.cargo}}</h6>
                <!-- Text -->
                <p class="card-text">{{membro.descricao}}
                </p>
                {%if membro.facebook %}
                <!-- Facebook -->
                <a class="btn-floating btn-small btn-fb mr-2 text-primary" href="{{membro.facebook}}"><i class="fa fa-facebook"></i></a>
                {%endif%}
                {%if membro.linkedin %}
                <!-- Twitter -->
                <a class="btn-floating btn-small btn-tw mr-2 text-primary" href="{{membro.linkedin}}"><i class="fa fa-linkedin"></i></a>
                {%endif%}
                {%if membro.instragram%}
                
                <!-- Instagram -->
                <a class="btn-floating btn-small btn-dribbble text-primary" href="{{membro.instragram}}"><i class="fa fa-instagram"></i></a>
                {%endif%}

              </div>

            </div>
            <!-- Card Regular -->
          </div>
          {%endfor%}
          {%else%}
          <h2>Não existem membros cadastrados ainda.</h2>
          {%endif%}
        </div>
      </div>
    </main>
    <!--Main layout-->
{% endblock %}