    {%extends 'base.html'%}
{% load static  %}
{% block content %}
<style>
    .parceiro{
        max-width: 100%;
    }
</style>
    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">
            
<!--Section: Contact v.2-->
<section class="section">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Nossos parceiros</h2>
    <!--Section description-->
<hr>
    <br>
    <div class="row">

        <!--Grid column-->
        <div class="col-12 col-md-3  mb-5">
            <img class="parceiro" src="{% static 'img/parceiro/3coracoes.png' %}">
        </div>
       <div class="col-12 col-md-3 mb-5 ">
            <img class="parceiro" src="{% static 'img/parceiro/argenzio.png' %}">
        </div>
       <div class="col-12 col-md-3 mb-5">
            <img class="parceiro" src="{% static 'img/parceiro/btm.png' %}">
        </div>
        
       <div class="col-12 col-md-3 mb-5">
            <img class="parceiro" src="{% static 'img/parceiro/cnlmf.png' %}">
        </div>

        
        </div>
        <div class="row">

        <!--Grid column-->
        <div class="col-12 col-md-3 mb-5">
            <img class="parceiro" src="{% static 'img/parceiro/logoaf.png' %}">
        </div>
       <div class="col-12 col-md-3 mb-5">
            <img class="parceiro" src="{% static 'img/parceiro/logodivina.png' %}">
        </div>
       <div class="col-12 col-md-3 mb-5">
            <img class="parceiro" src="{% static 'img/parceiro/logonovaera.png' %}">
        </div>
        
       <div class="col-12 col-md-3 mb-5">
            <img class="parceiro" src="{% static 'img/parceiro/screen.png' %}">
        </div>
        
        </div>
    
    
        <!--Grid column-->


</section>
<!--Section: Contact v.2-->
        </div>
    </main>
    <!--Main layout-->

{%endblock%}