{%extends 'base.html'%}
{% load static  %}
{% block content %}
    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <!--Section: Cards-->
            <section class="pt-4 ">

                <!-- Heading & Description -->
                <div class="wow fadeIn">
                    <!--Section heading-->
                    <div class="row mb-5">
                        <div class="col-12 col-sm-6">
                            <h2 class="h3">Newsletter assinado com sucesso!
                            </h2><br>
                            <input type="button" class="btn btn-primary" value="Voltar" onClick="javascript:history.go(-1);">
                        </div>
                       
                    </div>

                </div>
                <!-- Heading & Description -->
               


            </section>
            <!--Section: Cards-->

        </div>
    </main>
    <!--Main layout-->
{% endblock %}